@model IEnumerable<EstDatos_Lab01.Models.JugadoresModel>

@{
    ViewData["Title"] = "BuscarJugadoresCS";
}

<h1>BuscarJugadoresCS</h1>

<nav class="navbar navbar-dark bg-dark">

    <form class="form-inline my-2 my-lg-0" asp-controller="Jugadores" asp-action="BuscarJugador">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="Buscar" id="Buscar" value="N" autocomplete="off" checked> Nombre
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Buscar" id="Buscar" value="P" autocomplete="off"> Posicion
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Buscar" id="Buscar" value="SMayores" autocomplete="off"> Salarios Mayores
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Buscar" id="Buscar" value="SMenores" autocomplete="off"> Salarios Menores
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Buscar" id="Buscar" value="SIgual" autocomplete="off"> Salario Igual
            </label>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Texto" style="position:absolute; left: 750px;">
        <button class="btn btn-outline-info my-2 my-sm-0" style="position:absolute; left: 1000px;" type="submit">Buscar</button>
    </form>
</nav>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Club)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (JugadoresModel item in ViewBag.Jugadores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posicion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
