@model IEnumerable<EstDatos_Lab01.Models.JugadoresModel>

@{
    ViewData["Title"] = "MostrarUsuarios";
}

<h1>Mostrar Usuarios</h1>

<p>
    <a asp-action="AgregarJugadoresCS">Agregar Jugadores</a>
</p>

<p>
    <a asp-action="BuscarJugadores" class="btn btn-dark btn-lg" style="position: absolute;top: 20%; left: 70%" role="button">Buscar Jugadores</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (JugadoresModel item in ViewBag.Jugadores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posicion)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-dark " role="button">Editar</a>
                    @Html.ActionLink("Delete", "Delete", item)
                    <a asp-action="Delete" class="btn btn-dark " role="button">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
